.account {
	list-style: none;
	font-size: 120%;
	padding: 10px;
}

.prevnext {
	margin: 5px;
	background-color: #b3e7ff;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	border: none;
	margin-right: 10px;
	margin-top: 15px;
}

.makepost {
	font-size: 120%;
	font-weight: bold;
	padding: 10px;
}

.editdelete {
	background-color: #b3e7ff;
	padding: 3px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	border: none;
	margin-right: 5px;
	margin-top: 10px;
	text-decoration: none;
	color: black;
}

.pagetitle {
	color: #006622;
	font-weight: bold;
}

#postform {
	margin-left: 20px;
}

#postform label {
	margin-top: 15px;
}

#postsubmit {
	margin-top: 10px;
	margin-bottom: 10px;
}

#signup {
	width: 30%;
	margin: 0 auto;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	margin-top: 120px;
}

#signup h1 {
	text-align: center;
}

#signup input {
	margin: 0 auto;
	width: 90%;
}

#signupbackground {
	background-color: #80aaff;
}

#signupform {
	margin: 0 auto;
	width: 70%;
}

#loginbackground {
	background-color: #ff6600;
}

#login {
	width: 30%;
	margin: 0 auto;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	margin-top: 120px;
}

#login h1 {
	text-align: center;
}

#login input {
	margin: 0 auto;
	width: 90%;
}

#loginform {
	margin: 0 auto;
	width: 70%;
}

#viewpost {
	margin: 0 auto;
	width: 80%;
}

.footerlink {
	float: right;
	color: #80ccff;
}

#notfoundbackground {
	background-color: #004d00;
}

#notfound {
	margin: 0 auto;
	width: 45%;
	background-color: white;
	border-radius: 10px;
	padding: 20px;
	margin-top: 100px;
}

#notfound h1 {
	text-align: center;
}

#notfound a {
	margin-left: 20px;
	font-size: 150%;
}

#notfound img {
	margin-left: 20px;
}

  
.row.content {
	height: 100%;
}
    
.sidenav {
     background-color: #f1f1f1;
     height: 100%;
}

#deletePostOptions {
	display: none;
}

#deleteAccountOptions {
	display: none;
}

.deleteCommentOptions{
	display: none;
}
    
footer {
     background-color: #555;
     color: white;
     padding: 15px;
}
    
@media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
}