<!DOCTYPE html>
<html lang="en">
<head>
  <title>Log in to Hope Springs forum!</title>
  <meta name="description" content="Login page for Hope Springs forum">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../../css/styles.css"> 
</head>
	<body id="loginbackground">
		<div id="login">
			<h1>Login</h1>
			<form action="" method="post" id="loginform">
				<label for="loginusername">User name:</label>
				<input type="text" name="loginusername" placeholder="Your user name" id="loginusername">
				<br>
				<span id="usernamemessage"></span><br>
				<label for="loginpassword">Password:</label>
				<input type="password" name="loginpassword" placeholder="Enter your password" id="loginpassword">
				<br>
				<span id="passwordmessage"></span><br><br>
				<input type="submit" value="Login now!" id="loginsubmit" class="btn btn-success">
			</form>
		</div>

	</body>
</html>
