<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hope Springs</title>
  <meta name="description" content="Description for Hope Springs">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../../css/styles.css"> 
</head>
<body id="signupbackground">
		<div id="signup">
			<h1>Create an account</h1>
			<form action="" method="post" id="signupform">
				<label for="username">User name:</label>
				<input type="text" name="username" placeholder="Your user name" id="username">
				<br>
				<span id="usernamemessage"></span><br>
				<label for="email">Email address:</label>
				<input type="text" name="email" placeholder="Your email address" id="email">
				<br>
				<span id="emailmessage"></span><br>
				<label for="password">Password:</label>
				<input type="password" name="password" placeholder="Create a password" id="password">
				<br>
				<span id="passwordmessage"></span><br>
				<label for="reenterpassword">Reenter Password:</label>
				<input type="password" name="reenterpassword" placeholder="Reenter your password" id="reenterpassword">
				<br>
				<span id="passwordmessage"></span><br>
				<input type="submit" value="Sign up now!" id="signupsubmit" class="btn btn-success">
			</form>
		</div>
</body>
</html>
